.title{
  font-size: xx-large;
  font-family: "arial black";
  padding-bottom: 15px;
}


.headline-box{
  border: 1px solid black;
  margin: 5px;
  padding: 0px 10px 10px 10px;
}

.headline h1{
  font-size: 24px;
}

/*
  
  Radio Buttons
  
  */
  
  
.radio_answer_text{
  margin-left:  5px;
}

tr.spaceUnder > td {
  padding-bottom: .5em;
} 
/*
.answer{
  width: 300px;
} 
*/
.report{
  border: 1px solid black;
  padding: 10px;
  background-color: #FFFFE5;
}

.reaction-textarea{
  height: 100px;
  width: 400px;
}
textarea:disabled {
  background: #ddd;
}

.start-button-container{
  width: 365px;
}

.timer{
  font-size: medium;
  font-weight: bold;
}

.part-title{
  font-size:large;
  font-weight: bold;
}

.analysis-joke{
  width: 100%;
}

.analysis-headline{
  width: 100%;
}

.analysis-relationship{
  width: 100%;
}

.list-noun{
  width: 200px;
  margin-right: 10px;
}

.list-associated-noun{
  width: 400px;
}

.radio-container{
  height: 27px;
}

.radio-container .radio_answer_text{
  margin-left:  2px;
  margin-right:  5px;
}

.highlighted-example{
  background-color: yellow;
}

